{
  "tabWidth": 2,
  "useTabs": false,
  "editor.formatOnSave": true,
  "[typescript]": {
    "editor.formatOnSave": true
  },
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true,
    "source.fixAll.tslint": true,
    "source.fixAll.stylelint": true
}
}
